<div class="container">
  <img src="assets/logo.png" alt="ConvExt Logo" class="logo" height="200px"/>
  <h1 class="title">ConvExt</h1>
  <p class="description">
    A powerful file converter <br />
    Convert your files to any format you want without any hassle!
    <br /><br />
    <i>Supports images, videos, audio files, documents, and more!</i>
    <br /><br /><br /><br />
  </p>

  <div class="drop">
    <input
      type="file"
      id="fileElem"
      multiple
      accept="*"
      (change)="onFileSelect($event)"
      title="Select files to convert"
    />
    <ul class="file-list" *ngIf="selectedFiles.length > 0">
      <li *ngFor="let file of selectedFiles; let i = index">
        <span>{{ file.file.name }}</span>
        <select [(ngModel)]="file.selectedExtension" class="dropdown">
          <option *ngFor="let option of getExtensionOptions(file.file.name)" [value]="option">
            {{ option }}
          </option>
        </select>

        <div *ngIf="file.uploadProgress > 0" class="progress">
          <div class="progress-bar" [style.width.%]="file.uploadProgress"></div>
        </div>

        <button class="remove-button" (click)="removeFile(i)">Remove</button>
      </li>
    </ul>
    <!-- TODO: move inline style to scss file -->
    <div style="display:flex; flex-direction: row; gap: 10%; width: 100%; justify-content: center;">
      <button *ngIf="selectedFiles.length > 0" id="submit" (click)="uploadFiles()">Convert</button>
      <button *ngIf="selectedFiles.length > 0" id="clear" (click)="removeFiles()">Remove all</button>
    </div>
  </div>
</div>
