<div class="container">
  <h1>Contact Us</h1>

  <p>If you have any questions, feedback, or concerns, feel free to reach out to us. We’d love to hear from you!</p>

  <h2>Contact Information</h2>
  <ul>
    <li>
      <strong>Ferdinand-Tobias Trefil:</strong><br>
      Email: <a href="mailto:ferdinand.trefil03&#64;e-uvt.ro">ferdinand.trefil03&#64;e-uvt.ro</a><br>
      Phone: <a href="tel:+40735762222">+40 735 762 222</a>
    </li>
    <li>
      <strong>Denis Stanciu:</strong><br>
      Email: <a href="mailto:denis.stanciu00&#64;e-uvt.ro">denis.stanciu00&#64;e-uvt.ro</a><br>
      Phone: <a href="tel:+40730068822">+40 730 068 822</a>
    </li>
    <li>
      <strong>Alexandru Fistea:</strong><br>
      Email: <a href="mailto:alexandru.fistea98&#64;e-uvt.ro">alexandru.fistea98&#64;e-uvt.ro</a><br>
      Phone: <a href="tel:+40723358096">+40 723 358 096</a>
    </li>
    <li>Address: Timișoara, Romania</li>
  </ul>

  <h2>Follow Us</h2>
  <p>Stay connected with us on social media:</p>
  <ul>
    <li>
      <a href="https://facebook.com/convext" target="_blank">
        <i class="fab fa-facebook-square"></i> Facebook
      </a>
    </li>
    <li>
      <a href="https://instagram.com/convext" target="_blank">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </li>
  </ul>
</div>
