.files_list{
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: rgb(24, 24, 24);
  border-radius: 8px;
  color: #b8b8b8;
  gap: 10px;
  min-width: 490px;

  & h2 {
    padding-bottom: 2rem;
    border-bottom: 1px solid #ccc;
  }
}

.file-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.file-item:last-child {
  border-bottom: none;
}


strong{
  color: var(--primary-color);
}



.file-details {
  display: flex;
  flex-direction: column;
}

.file-actions {
  display: flex;
  gap: 10px;
}

button {
  padding: 5px 10px;
  border: none;
  height: 30px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--primary-color-dark);
}


// for screens less than 600px
@media screen and (max-width: 800px) {
  .files_list {
    width: 90%;
    min-width: 0;
    padding: 20px;
  }
  .file-actions {
    flex-direction: column;
    margin-left: 10px;
  }
}

@media screen and (max-width: 400px){
  .file-item{
    flex-direction: column;
    gap: 10px;
  }
  .file-actions {
    flex-direction: column;
    width: 200px;
    margin: auto;
  }
}
