<div class="navigation">
  <div class="navigation-pages">
    <!-- Navigation links -->
    <div class="navigation-page" id="p0" routerLinkActive="active" [routerLink]="['/home']"           >Home</div>
    <div class="navigation-page" id="p1" routerLinkActive="active" [routerLink]="['/about']"          >About</div>
    <div class="navigation-page" id="p2" routerLinkActive="active" [routerLink]="['/contact']"        >Contact</div>
    @if(currentUser()){
      <div class="navigation-page" id="p3" routerLinkActive="active" [routerLink]="['/myfiles']"      >My files</div>
    }
  </div>

  <div class="user">
  <!-- USER LOGIN -->
    @if (!currentUser()){
      <div class="user-login" (click)="loginWithGoogle()">
        <p>Log in with Google</p>
      </div>
    } @else {
      <!-- User info -->
      <div class="user-info" (click)="toggleDropdown()">
        <img src="{{currentUser().image}}" alt="User profile picture" class="profile-picture" />
        <p>{{currentUser().name}}</p>
      </div>
      <div class="dropdown">
        <!-- Dummy menu item -->
        <div class="dropdown-item">Profile</div>
        <!-- LOGOUT -->
        <div class="dropdown-item" (click)="logout()">Log out</div>
      </div>
    }
  </div>
</div>
