
.navigation{
  width: 100%;
  height: 3rem;
  display: flex;
  background-color: rgb(24, 24, 24);
  color:white;
  justify-content: right;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: 0.3s ease-in-out all;


  &-page{
    color: var(--primary-color);
    text-decoration: none;
    margin:0;
    font-size: 1.2rem;
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: 0.3s ease-in-out all;

    &.active{
      transition: 0.3s ease-in-out all;
      z-index: 10;
      border-bottom: 1px solid var(--primary-color);
    }

    &:hover{
      transform: scale(1.05);
      transition: 0.3s ease-in-out all;
    }
  }


  &-pages{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin: 0 auto;
    transition: 0.3s ease-in-out all;


  }
}


p{
  list-style: none;
  display: flex;
  flex-direction: col;
  align-items: center;
  gap: 10px;;
}

.user-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  border-left: 1px solid rgb(163, 163, 163);
  cursor: pointer;
}

.user-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 0.5rem;
  cursor:pointer;

  & img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
}

// RESPONSIVENESS
@media screen and (max-width: 1024px){
  .navigation{
    &-pages{
      position: relative;
      left: 0;
      transform: none;
      margin-right: auto;
      margin-left: 0;
      flex-direction: column;
      gap: 10px;
      margin-top: auto;
      transition: 0.3s ease-in-out all;

      &:hover{
        & .navigation-page{
          transition: 0.3s ease-in-out all;

          &#p1{
            top: 3.1rem;
          }

          &#p2{
            top: 5.7rem;
          }

          &#p3{
            top: 8.2rem;
          }

          &#p4{
            top: 10.6rem;
          }
        }
      }
    }

    &-page{

      background-color: var(--primary-color);
      border-radius: 5px;
      color: white;
      position: fixed;
      top: 0.5rem;
      transition: 0.3s ease-in-out all;
    }


  }

  .navigation{
    justify-content: left;
  }

}

.active{
  z-index: 10;
}

.dropdown{
  height: 5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 3.5rem;
  right: 0.5rem;
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out all;
  z-index: 10;
  overflow: hidden;

  &-item{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out all;

    &:last-child{
      border-bottom: none;
    }

    &:hover{
      transform: scale(1.1);
      transition: 0.3s ease-in-out all;
    }
  }
}

.hidden{
  display: flex;
  overflow: hidden;
  height: 0px;
  padding: 0px;
  transition: 0.3s ease-in-out all;
}

