:root{
  --primary-color: #c75000;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body{
  overflow: hidden;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family:Georgia, 'Times New Roman', Times, serif
}
