:root{
  --primary-color: #c75000;
  --primary-color-dark: #913a00;
  --secondary-color: #6c757d;
  --secondary-color-dark: #444a50;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body{
  overflow: hidden;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}


.container {
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3rem);
  width: 100vw;
  background-color: rgb(31, 31, 31);
  // justify-content: center;
  align-items: center;
  overflow: scroll;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0;
  }
}
